*
{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}

.col-lg-1
{
	width:8.33%;
	padding:0 15px;
}

.col-lg-2
{
	width:16.66%;
	padding:0 15px;
}

.col-lg-3
{
	width:25%;
	padding:0 15px;
}

.col-lg-4
{
	width:33.33%;
	padding:0 15px;
}

.col-lg-5
{
	width:41.66%;
	padding:0 15px;
}

.col-lg-6
{
	width:50%;
	padding:0 15px;
}

.col-lg-7
{
	width:58.33%;
	padding:0 15px;
}

.col-lg-8
{
	width:66.66%;
	padding:0 15px;
}

.col-lg-9
{
	width:75%;
	padding:0 15px;
}

.col-lg-10
{
	width:83.33%;
	padding:0 15px;
}

.col-lg-11
{
	width:91.66%;
	padding:0 15px;
}



.col-lg-12
{
	width:100%;
	padding:0 15px;
}


.container
{
	width:1170px;
	margin:0 auto;
	
}

.align-items-center
{
	align-items:center;
}
.align-items-start
{
	align-items:flex-start;
}

.align-items-end
{
	align-items:flex-end;
}

	

.hender-menu
{
	background-color:#fff;
	padding-bottom:20px;
	padding-top:20px;
}

.logo
{
	
	margin-top:8px;
	padding-left:8px;
	}
	
	.menu-bar >.navbar
	{
		text-align:right;
	}
.row
{
	display:flex;
	flex-wrap:wrap;
}

.banner-section
{
	background-image:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url(hero-bg.jpg);
	height:665px;
	background-repeat:no-repeat;
	background-size:cover;
	
}

.banner-content
{
	color:#fff;
	font-family: 'Poppins', sans-serif;
	font-size:28px;
	width:500px;
	padding-top:190px;
	
}

.banner-content p
{
	padding-bottom:28px;
	font-size:22px;
	
}

.banner-content h1
{
	padding-bottom:15px;
	font-size:38px;
}

.btns
{
	border-radius:5px;
	background-color:red;
	padding-top:8px;
	padding-bottom:8px;
	font-family:  'Poppins', sans-serif;
	padding-left:15px;
	padding-right:15px;
	text-decoration:none;
	color:#fff;
	font-size:15px;
}

.btns:hover
{
	color:red;
}

.navbtns:hover{
	color:red;
}

.client-section
{
	padding-top:80px;
	padding-bottom:80px;
}


.client-logo img
{
	width:100%;
	height:auto;
	margin-top:15px;
	padding:5px 25px;
	filter:grayscale(1);
	opacity:0.5;
	transition:all 0.3s ease;
	
}

.client-logo img:hover
{
	filter:grayscale(0);
	opacity:1;
}

.sect-sharp
{
	position:relative;
	z-index:1;
}

.about-section
{
	
	padding-top:80px;
	padding-bottom:80px;
	
}

.about-section:after
{
	content:"";
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:#222;
	z-index:-1;
	transform:skew(0deg, -3deg);
}
	

.about-content
{
	background-color:re;
	height:300px;
	margin-top:15px;
}

.about-content h1{
	
	font-family:  'Poppins', sans-serif;
	font-size:36px;
	color:#fff;
	padding-bottom:20px;
}

.about-content p{
	
	font-family:  'Poppins', sans-serif;
	font-size:16px;
	color:#fff;
	padding-bottom:28px;
}

.but{
	border-radius:50px;
padding-bottom:10px;
font-size:15px;
padding-top:10px;
padding-left:28px;
padding-right:28px;
border:2px solid red;
	color:#fff;
	font-family: 'Poppins', sans-serif;
		text-decoration:none;
}

.but:hover
{
	background:red;
}

.but i 
{
padding-left:12px;
}
	


.about-list-box
{
	height:170px;
	font-size:13px;
	font-family: 'Poppins', sans-serif;
	color:#fff;
	padding-left:10px;
	padding-left:8px;
}

.about-list-box h1
{
	padding-bottom:10px;
	padding-top:15px;
}

.about-list-box p
{
	color:gray;
}



.icofont-newspaper
{
	font-size:38px;
	color:red;
}

.icofont-cube
{
	font-size:38px;
	color:red;
}

.icofont-image
{
	font-size:38px;
	color:red;
}

.icofont-shield
{
	font-size:38px;
	color:red;
}


.client
{
background-color:#fff;
	margin-top:100px;
	height:200px;
}


.about-client
{
	height:120px;
	margin-top:15px;
	font-family: 'Poppins', sans-serif;
	position:relative;
	box-shadow:0px 2px 35px gray;
	border-radius:5px;
	
}

.about-client h1{
	font-size:40px;
	text-align:center;
	padding-top:18px;
}

.about-client p
{
	font-size:15px;
	color:gray;
	text-align:center;
	
}

.about-client i {
	
	position:absolute;
	top:-28px;
	left:105px;
	padding:10px;
	color:red;
	background-color:#fff;
	box-shadow:0px 2px 35px gray;
	align-items:center;
	border-radius:50px;
	justify-content:center;
	font-size:25px;
	border:2px solid #fff;
	

}



.details
{
background-color:#fff;
	height:600px;
}


.about-details
{
	border:1px solid #000;
	height:100px;
	margin-top:15px;
}

.about-details p {
	
	font-family:'Poppins', sans-serif;
	font-size:20px;
	position:relative;
	padding-left:60px;
	padding-top:10px;
	cursor:pointer;
}

.about-details i 
{
	position:absolute;
	font-size:40px;
	padding-left:12px;
	padding-top:15px;
	cursor:pointer;
}

.about-details p:hover{
	color:red;
}

.about-details-content h1
{
	margin-top:45px;
	font-family:'Poppins', sans-serif;
	font-size:20px;
	padding-bottom:10px;
	
}

.about-details-content h3
{ 
font-size:12px;
font-family:'Poppins', sans-serif;
font-style:italic;
padding-bottom:20px;

}

.about-details-content p
{ 
font-size:15px;
font-family:'Poppins', sans-serif;
padding-bottom:20px;

}

.about-details-content img
{
	
	width:100%;
	height:auto;
	padding-top:50px;
}
	


.Service
{
background-color:black;
	height:480px;
	margin-top:28px;
}


.about-service
{
	background-color:red;
	height:100px;
	margin-top:15px;
}

	
	
	.port
{
background-color:black;
	height:1050px;
}


.port-service
{
	background-color:red;
	height:100px;
	margin-top:15px;
}

.port-ser{
	
	background-color:red;
	height:250px;
	margin-top:15px;
	
}

.test
{
background-color:#fff;
	height:480px;
}


.test-service
{
	background-color:red;
	height:100px;
	margin-top:15px;
}
	
	.pricing
{
background-color:black;
	height:480px;
}

.pri-seric
{
	background-color:red;
	height:50px;
	margin-top:15px;
}
	
	

.pri-ser
{
	background-color:red;
	height:350px;
	margin-top:15px;
	
}

.fre
{
background-color:black;
	height:480px;
}


.fre-servic
{
	background-color:red;
	height:50px;
	margin-top:15px;
}

.fre-service
{
	background-color:red;
	height:380px;
	margin-top:15px;
}



.team
{
background-color:#fff;
	height:360px;
}


.team-servic
{
	background-color:red;
	height:50px;
	margin-top:15px;
}
.team-service
{
	background-color:red;
	height:260px;
	margin-top:15px;
}

.contact
{
background-color:black;
	height:480px;
}


.con
{
	background-color:red;
	height:50px;
	margin-top:15px;
}

.cont{
background-color:red;
	height:100px;
	margin-top:15px;	
}

.contt{
background-color:red;
	height:50px;
	margin-top:15px;	
}

.conttc{
background-color:red;
	height:250px;
	margin-top:15px;	
}

.contact-info{
	background-color:#fff;
	height:280px;
}

.con-info{
background-color:red;
	height:250px;
	margin-top:15px;

}
	
	.copyright
	{
		background-color:black;
		height:100px;
	}
	
	
	.copy-right{
		background-color:red;
		height:50px;
	margin-top:15px;
	}
	
	
	
	
	.logo-detail
	{
		
	font-family: 'Poppins', sans-serif;
	
	}
	
	.logo-detail a {
		color:black;
	text-decoration:none;
	}
	
	.logo-detail a span {
		color:red;
	}
	
	.menu-bar .nav-bar{
		text-align:right;
	}
	
	
.menu-bar .navbar > li
	{
		display:inline-block;
		
	}
	
	.navbar li  a {
		display:block;
		text-decoration:none;
		color:#000;
		padding-left:10px;
		padding-right:10px;
			font-family: 'Poppins', sans-serif;
			transition:all 0.3s ease;
	}
	
.navbar li a:hover
{
		color:red;
}		

.navbtns
{
	border-radius:5px;
	background-color:red;
	padding-top:8px;
	padding-bottom:8px;
	color:#fff;
	font-family: 'Poppins', sans-serif;
	padding-left:10px;
		padding-right:10px;
		text-decoration:none;
	
}

.dropdown
{
position:relative;
}
.navbar li.dropdown > a{
	position:relative;
	padding-right:25px;
}
.navbar li.dropdown > a i{
	position:absolute;
	top:5px;
	right:0px;
}

.nav-dropdown
{

position:absolute;
top:100%;
left:0px;
min-width:180px;
background-color:#fff;
box-shadow:1px 1px 1px #ccc;
border-radius:8px;
text-align:left;
opacity:0;
visibility:hidden;
transition:all 0.5s ease;
}	

.dropdown:hover  .nav-dropdown{
	transform:translateY(0);
	opacity:1;
	visibility:visible;
}



.nav-dropdown li
{
	display:block;
}

.nav-dropdown li a
{
	color:#000;
	display:block;
	text-decoration:none;
	padding-top:8px;
	padding-bottom:8px;
	padding-left:15px;
	padding-right:15px;
}
.navbar li.dropdown2 > a{
	position:relative;
	padding-right:25px;
}
.navbar li.dropdown2 > a i{
	position:absolute;
	top:12px;
	right:0px;
}
.dropdown2{
	position:relative;
}

.nav-drop {
	position:absolute;
	top:0%;
	left:100%;
	min-width:180px;
	background-color:#fff;
	box-shadow:1px 1px 6px #ccc;
	border-radius:8px;
	text-align:left;
	transform:translateX(-15px);
	opacity:0;
	visibility:hidden;
	transition:all 0.5s ease;
}

.dropdown2:hover .nav-drop{
	transform:translateX(0);
	opacity:1;
	visibility:visible;
}

