*
{
	margin:0;
	padding:0;
	box-sizing:border-box;
}


.container
{
	width:100%;
	padding:0 15px;
	
}

.row > *
{
	width:100%;
	padding:0 15px;
}

.d-none{
	display:none !important;
}


.align-items-center
{
	align-items:center;
}
.align-items-start
{
	align-items:flex-start;
}

.align-items-end
{
	align-items:flex-end;
}

.justify-content-center{
	justify-content:center;
}

	

.hender-menu
{
	background-color:#fff;
	padding-bottom:20px;
	padding-top:20px;
}

.logo
{
	
	margin-top:8px;
	padding-left:8px;
	}
	
	.menu-bar >.navbar
	{
		text-align:right;
	}
.row
{
	display:flex;
	flex-wrap:wrap;
	margin:0 auto;
}

.banner-section
{
	background-image:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url(hero-bg.jpg);
	height:665px;
	background-repeat:no-repeat;
	background-size:cover;
	
}

.banner-content
{
	color:#fff;
	font-family: 'Poppins', sans-serif;
	font-size:28px;
	width:500px;
	padding-top:190px;
	
}

.banner-content p
{
	padding-bottom:28px;
	font-size:22px;
	font-family: "Open Sans", sans-serif;
	
}

.banner-content h1
{
	padding-bottom:15px;
	font-size:38px;
}

.btns
{
	border-radius:5px;
	background-color:#e03a3c;
	padding-top:8px;
	padding-bottom:8px;
	font-family:  'Poppins', sans-serif;
	padding-left:15px;
	padding-right:15px;
	text-decoration:none;
	color:#fff;
	font-size:15px;
}

.btns:hover
 {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
	
}

.navbtns:hover{
	color: #fff;
    background: #000;
}


.client-section
{
	padding-top:80px;
	padding-bottom:80px;
}


.client-logo img
{
	width:100%;
	height:auto;
	margin-top:15px;
	padding:5px 25px;
	filter:grayscale(1);
	opacity:0.5;
	transition:all 0.3s ease;
	
}

.client-logo img:hover
{
	filter:grayscale(0);
	opacity:1;
}

.sect-sharp
{
	position:relative;
	z-index:1;
}

.about-section
{
	
	padding-top:80px;
	padding-bottom:80px;
	
}

.about-section:after
{
	content:"";
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:#222;
	z-index:-1;
	transform:skew(0deg, -3deg);
}
	

.about-content
{
	background-color:re;
	height:auto;
	margin-top:15px;
}

.about-content h1{
	
	font-family:  'Poppins', sans-serif;
	font-size:36px;
	color:#fff;
	padding-bottom:20px;
}

.about-content p{
	
	font-family: "Open Sans", sans-serif;
	font-size:18px;
	color:#fff;
	padding-bottom:28px;
}

.but{
	border-radius:50px;
padding-bottom:10px;
font-size:15px;
padding-top:10px;
padding-left:28px;
padding-right:28px;
border:2px solid #e03a3c;
	color:#fff;
	font-family: 'Poppins', sans-serif;
		text-decoration:none;
}

.but:hover
{
	background:#e03a3c;
}

.but i 
{
padding-left:12px;
}
	


.about-list-box
{
	height:155px;;
	font-size:13px;
	font-family: 'Poppins', sans-serif;
	color:#fff;
	padding-left:10px;
	
}

.about-list-box h1
{
	padding-bottom:10px;
	padding-top:15px;
}

.about-list-box p
{
	color:gray;
	font-size:15px;
	font-family: "Open Sans", sans-serif;
}



.icofont-newspaper
{
	font-size:38px;
	color:#e03a3c;
}

.icofont-cube
{
	font-size:38px;
	color:#e03a3c;
}

.icofont-image
{
	font-size:38px;
	color:#e03a3c;
}

.icofont-shield
{
	font-size:38px;
	color:#e03a3c;
}


.client
{
background-color:#fff;
	margin-top:100px;
	margin-bottom:100px;
	height:auto;
}


.about-client
{
	padding: 30px 30px 25px 30px;
    width: 100%;
    position: relative;
    text-align: center;
    box-shadow: 0px 2px 35px rgb(0 0 0 / 6%);
    border-radius: 4px;
	
}

.about-client h1{
	font-size:40px;
	text-align:center;
	padding-top:18px;
}

.about-client p
{
	font-size:15px;
	color:gray;
	text-align:center;
	
}

.about-client i {
	
	position: absolute;
    width: 54px;
    height: 54px;
    top: -27px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    background: hsl(0deg 0% 100%);
    color: hsl(359deg 73% 55%);
    border-radius: 50px;
    border: 2px solid hsl(0deg 0% 100%);
    box-shadow: 0px 2px 25px rgb(0 0 0 / 10%);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}



.details
{
	height:auto;
}


.about-details
{
	border: 1px solid #b9b9b9;
    padding: 15px;
    transition: 0.3s;
    color: #111111;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
	min-height:110px;
	margin-bottom:50px;
	
}

.about-details p
{
	font-size: 18px;
    font-weight: 600;
    margin: 0;
	font-family:'poppins' ,sans-serif;
}

.about-details i 
{
	padding-right: 15px;
    font-size: 48px;
}

.about-details:hover
{
	color: #e03a3c;
}

.about-details.active 
{
	background-color: #e03a3c;
	color:#fff;
	border-color: #e03a3c;
}



.about-details-content h1
{
	margin-top:45px;
	font-family:'Poppins', sans-serif;
	font-size:20px;
	padding-bottom:10px;
	
}

.about-details-content h3
{ 
font-size:15px;
font-family: "Open Sans", sans-serif;
font-style:italic;
padding-bottom:20px;
color:gray;

}

.about-details-content p
{ 
font-size:15px;
position:relative;
font-family:'Poppins', sans-serif;
padding-bottom:20px;
color:gray;
padding-left:28px;

}

.about-details-content i 
{
	font-size:25px;
	color:red;
	position:absolute;
}

.about-details-content img
{
	
	width:100%;
	height:auto;
	padding-top:50px;
}
	


.ser-sharp
{
	position:relative;
	z-index:1;
}

.Service
{
	height:auto;
	margin-top:28px;
	padding-top:80px;
	padding-bottom:80px;
	
}

.Service:after
{
	content:"";
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:#222;
	z-index:-1;
	transform:skew(0deg, -3deg);
}

.about-service2
{
	
	height:auto;
	
}

.about-service2
{
	font-family:'Poppins', sans-serif;
	font-size:20px;
	text-align:center;
	height:auto;
	color:#fff;
	position:relative;
	margin-bottom:20px;
	
}

.about-service2  p 
{
	font-size:15px;
	color:#fff;
	font-family: "Open Sans", sans-serif;
	
	
}

.ser-line 
{
background-color:#e03a3c;
	border-bottom:2px solid #e03a3c;
	margin-right:530px;
	margin-left:526px;
	margin-top:8px;
	margin-bottom:20px;
}
	

.about-service
{
	border-radius:6px;
	background-color:#2b2b2b;
	height:120px;
	margin-top:15px;
}

.about-service h1
{
	color:#fff;
	position:relative;
	font-family:'Poppins', sans-serif;
	font-size:18px;
	padding-left:80px;
	padding-top:10px;
}


.about-service p
{
	color:#fff;
	font-family: "Open Sans", sans-serif;
	font-size:16px;
	padding-left:80px;
	padding-top:20px;
}

.about-service i 
{
	
	font-size:50px;
	position:absolute;
	color:#e03a3c;
	padding-left:15px;
	padding-top:10px;
}

	
	
	.port
{
	height:auto;
	margin-top:100px;
}


.port-service
{
	font-family:'Poppins', sans-serif;
	font-size:20px;
	text-align:center;
	height:auto;
	position:relative;
	margin-top:15px;
}

.port-line
{
	background-color:#e03a3c;
	border-bottom:2px solid #e03a3c;
	margin-right:530px;
	margin-left:526px;
	margin-top:8px;
	margin-bottom:20px;
}

.port-service p 
{
	font-size:15px;
	color:#000;
	
}

.port-content 
{
	text-align:center;
	margin-top:50px;
}
.port-content a{
	text-decoration:none;
	font-family:'Poppins', sans-serif;
	font-size:15px;
	color:black;
	padding-left:10px;
	padding-bottom:5px;
	padding-top:5px;
	padding-right:10px;
}

.port-content a:hover
{
	border-radius:3px;
	background-color:#e03a3c;
	padding-left:10px;
	padding-bottom:5px;
	padding-top:5px;
	padding-right:10px;
	color:#fff;

}

.port-content a.nav-port
{
	background-color:#e03a3c;
	color:#fff;
	border-radius:3px;
	background-color:#e03a3c;
	padding-left:10px;
	padding-bottom:5px;
	padding-top:5px;
	padding-right:10px;
	
}

.port-ser
{
	height:auto;
	margin-top:50px;
	
}

.port-img-items
{
	position:relative;
	overflow:hidden;
}

.port-img-items img
{
	width:100%;
	height:auto;
	display:block;
	transition:all 0.3s ease;
}

.port-img-items .port-overlay
{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:rgb(0 0 0 / 48%);
	display:flex;
	align-items:flex-end;
	opacity:0;
	transition:all 0.3s ease;
	
}

.port-overlay .port-content2
{
	padding-left:20px;
	padding-bottom:30px;
}

.port-content2 h4
{
	color:#fff;
	 font-weight:600;
	 margin-bottom:10px;
	 font-size:20px;
	 font-family:'Poppins', sans-serif;
}

.port-content2 h5
{
	font-family: "Open Sans", sans-serif;
	font-style:italic;
	color:#ccc;
	font-size:15px;
	text-transform:uppercase;
	padding-bottom:10px;
	
}

.port-content2 a{
	display:inline-block;
	text-decoration:none;
	color:#ccc;
	font-size:20px;
	margin-left:12px;
	transition:all 0.3s ease;
}

.port-content2 a:hover
{
	color:#fff;
}

.port-img-items:hover img
{
		transform:scale(1.2);
	}
	
.port-img-items:hover .port-overlay
	{
		opacity:1;
	}
	


.test
{
background-color:#fff;
	height:auto;
}


.test-service
{
	
	font-family:'Poppins', sans-serif;
	font-size:20px;
	text-align:center;
	height:auto;
	position:relative;
	margin-top:15px;
}

.test-service p 
{
	font-size:17px;
	color:#000;
	font-family: "Open Sans", sans-serif;
}

.test-ser{
	border-radius: 15px;
    box-shadow: 0px 2px 12px rgb(0 0 0 / 8%);
    padding: 15px;
    height: auto;
    margin: 30px 15px;
    background-color: #fff;
	position:relative;
}

.test-ser-img img
{
	width:95px;
	border-radius:5px;
	position:absolute;
}

.test-ser-img h4 
{
	font-size:20px;
	font-family: "Open Sans", sans-serif;
	position:relative;
	padding-left:115px;
	top:20px;
}

.test-ser-img h5
{
	font-size:15px;
	font-family: "Open Sans", sans-serif;
	position:relative;
	padding-left:115px;
	top:25px;
	color:#adb5bd;
}

.test-content p 
{
	font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    padding-top: 65px;
    color: #444444;
    z-index: 2;
}

.test-content p i 
{
	
	display:inline-block;
	color:#fceaea;
	font-size: 25px;
}

.test-content p i:first-child
{
	padding-right:10px;
	transform:translateY(-5px);
	display:inline-block;
}

.test-content p i:last-child
{
	padding-right:10px;
	transform:translateY(10px);
	display:inline-block;
}


	
.ser-sharp
{
	position:relative;
	z-index:1;
}

.pricing
{
	height:auto;
	margin-top:28px;
	padding-top:80px;
	padding-bottom:80px;
	
}

.pricing:after
{
	content:"";
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:#222;
	z-index:-1;
	transform:skew(0deg, -3deg);
}


.pri-servic
{
	font-family:'Poppins', sans-serif;
	font-size:20px;
	text-align:center;
	height:auto;
	position:relative;
	margin-top:15px;
	color:#fff;
}

.port-line
{
	background-color:#e03a3c;
	border-bottom:2px solid #e03a3c;
	margin-right:530px;
	margin-left:526px;
	margin-top:8px;
	margin-bottom:20px;
}

.pri-servic p 
{
	font-size:15px;
	color:#fff;
	
}
	
	

.pri-ser
{
	background-color:#2b2b2b;
	height:auto;
	margin-top:40px;
	font-size:10px;
	padding:20px;
	font-family: "Raleway", sans-serif;
	color:#fff;	
	border-radius:8px;
}


.pri-ser h2
{
	font-size:20px;
	text-align:center;
	padding-top:25px;
	padding-bottom:20px;
}

.pri-ser p
{
	font-size:16px;
	text-align:center;
	font-family: "Open Sans", sans-serif;
	line-height:2;
}

.service-line 
{

	text-decoration:line-through;
	color:rgb(255 255 255 / 30%)
}

.pri-ser h4 
	{
		font-size:48px;
		text-align:center;
		font-family: "Open Sans", sans-serif;
	}

.pri-ser sup
	{
		font-size:20px;
		font-family: "Open Sans", sans-serif;
		
	}


.pri-ser span
	{
		font-size:20px;
		font-family: "Open Sans", sans-serif;
		
	}
	
	.btns-buy
	{
    padding: 10px 30px 12px 30px;
    color: #fff;
    text-decoration: none;
    border: 2px solid rgb(255 255 255 / 30%);
	font-family: "Open Sans", sans-serif;
	font-size:18px;
	border-radius: 5px;

    
}

.btns-buy:hover
{
	border-color:#fff;
}

.btn-buy
{
	text-align:center;
	padding-top:40px;
}

.pri-service 
{
	background-color:#e03a3c;
}

.fre
{

margin-top:80px;
	height:480px;
}

.port-line
{
	background-color:#e03a3c;
	border-bottom:2px solid #e03a3c;
	margin-right:305px;
	margin-left:526px;
	margin-top:8px;
	margin-bottom:20px;
}


.fre-servic
{
	text-align:center;
	font-family: 'Poppins', sans-serif;
	font-size:20px;
	height:50px;
	margin-top:15px;
}

.fre-service
{
	
	display:block;
	position:relative;
	margin-top:30px;
	font-size:18px;
	font-family: "Open Sans", sans-serif;
}

.fre-service i
{
	position:absolute;
	right:0;
	top:0;
	font-size:25px;
}

.fre-service:hover
{
	color:#e03a3c;
	cursor:pointer;
}

.border-line 
{
	border-bottom:1px solid #eee;
	margin-bottom:20px;
	padding-bottom:20px;
}




.ser-sharp
{
	position:relative;
	z-index:1;
}

.team
{
	height:auto;
	margin-top:100px;
	padding-top:80px;
	padding-bottom:80px;
	
}

.team:after
{
	content:"";
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:#222;
	z-index:-1;
	transform:skew(0deg, -3deg);
}



.team-servic
{
	
	height:auto;
}

.team-servic
{
	font-family:'Poppins', sans-serif;
	font-size:20px;
	text-align:center;
	height:auto;
	position:relative;
	color:#fff;
}

.port-line
{
	background-color:#e03a3c;
	border-bottom:2px solid #e03a3c;
	margin-right:530px;
	margin-left:526px;
	margin-top:8px;
	margin-bottom:20px;
}

.team-servic p 
{
	font-size:15px;
	color:#fff;
	
}

.team-service
{
	background-color:#fff;
	height:340px;
	margin-top:60px;
	border-radius:5px;
}

.team-img img
{
	width:100%;
	height:auto;
	display:block;
}

.team-img
{
	border-radius:5px;
	position:relative;
}

.social-logo 
{
	position:absolute;
	left:36%;
	bottom:25px;
	transform:translateX(-50px);
	color:#fff;
	font-size:20px;
	opacity:0;
	
}

.social-logo a:hover
{
	background-color:black;
	cursor:pointer
}


.team-service:hover .social-logo
{
	opacity:1;
	visibility:visible;
}

.social-logo a 
{
	border-radius:50px;
	background:#e03a3c;
	padding:8px 8px 8px 8px;
}

.team-content h4 
{
	font-size:15px;
	font-family:'poppins', sans-serif;
}

.team-content p 
{
	font-size:15px;
	font-family:'poppins',sans-serif;
	color:gray;
}

.team-content
{
	padding-left:20px;
	padding-top:20px;
}

	
.contact
{
	height:auto;
	margin-top:50px;
}


.con
{
	font-family:'Poppins', sans-serif;
	font-size:20px;
	text-align:center;
	height:auto;
	position:relative;
	color:black;
}

.con p 
{
	font-size:15px;
}


.cont {
	height:150px;
	margin-top:55px;	
	    box-shadow: 0 0 30px rgb(214 215 216 / 60%);
	border-radius:2px;
	padding:30px 0px 30px 0px;
	text-align:center;
}

.cont h3{
     font-size:20px;
font-family:'poppins',sans-serif;	
margin-top:10px; 
}

.cont p
{
	font-size:15px;
	font-family:'poppins',sans-serif;
}

.cont i {
	width:50px;
	height:auto;
	border:2px dotted #f8d4d5;
	border-radius:50px;
	color:#e03a3c;
	padding:5px;
	font-size:25px;
}
.conttc i {
	width:50px;
	height:auto;
	border:2px dotted #f8d4d5;
	border-radius:50px;
	color:#e03a3c;
	padding:5px;
	font-size:25px;
}



.conttc h3{
     font-size:20px;
font-family:'poppins',sans-serif;
margin-top:10px;	 
}

.conttc p
{
	font-size:15px;
	font-family:'poppins',sans-serif;
}

.conttc{

	height:200px;
	box-shadow: 0 0 30px rgb(214 215 216 / 60%);
	margin-top:15px;	
	padding:30px 0px 30px 0px;
	text-align:center;
}

.conte
{
        box-shadow: 0 0 30px rgb(214 215 216 / 60%);
        padding:30px;
		border-radius:4px;
		
}

#texted
{
	font-size:12px;
	width:100%;
	padding:12px 0px 12px 10px;
	margin:14px 0;
	border:1px solid #ccc;
	border-radius:2px;
}
	


	
.send
{
  text-align:center;
}

.button-send
{
	border-radius: 5px;
    background-color: #e03a3c;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
}


.contact-info{
	background-color:#2b2b2b;
	height:auto;
	margin-top:50px;
}

.conte
{
        box-shadow: 0 0 30px rgb(214 215 216 / 60%);
        height:auto;
		margin-top:50px;
}




.con-info{
	height:auto;
	margin-top:50px;

}

.con-info h3
{
	font-size:25px;
	font-family:'poppins',sans-serif;
	color:#fff;
}

.con-info h3 span
{
	color:#e03a3c;
}

.con-info p 
{
	font-size:15px;
	font-family: "Open Sans", sans-serif;
	line-height:25px;
	color:#fff;
}

.con-links 
{
	height:auto;
	margin-top:50px;
}

.con-line
{
	background-color: #e03a3c;
    border-bottom: 2px solid #e03a3c;
    margin-right: 130px;
    margin-top: 8px;
    margin-bottom: 5px;
}

.con-links
{
	color:#fff;
	font-size:18px;
	font-family: "Open Sans", sans-serif;
}

.con-links a 
{
	text-decoration:none;
	color:gray;
	font-size:16px;
	line-height:2;
}

.con-links li 
{
	list-style:none;
}

.con-links a:hover
{
	color:#fff;
}

.our-service
{
	color:#fff;
	font-size:18px;
	font-family: "Open Sans", sans-serif;
	height:250px;
	margin-top:50px;
}

.our-service a 
{
	text-decoration:none;
	color:gray;
	font-size:16px;
	line-height:2;
}

.our-service li 
{
	list-style:none;
}

.our-service a:hover
{
	color:#fff;
}

.link-line 
{
background-color: #e03a3c;
    border-bottom: 2px solid #e03a3c;
    margin-right: 235px;
    margin-top: 8px;
    margin-bottom: 5px;
}

.con-join 
{
	color:#fff;
	font-size:18px;
	font-family: "Open Sans", sans-serif;
	height:auto;
	margin-top:50px;
}

.join-line
{
	background-color: #e03a3c;
    border-bottom: 2px solid #e03a3c;
    margin-right: 320px;
    margin-top: 8px;
    margin-bottom: 10px;
}
	
.con-join p 
{
	color:#fff;
	font-size:15px;
	font-family: "Open Sans", sans-serif;
}


.con-join form{
	margin-top:30px;
	background-color:#fff;
	padding:6px 12px;
	position:relative;
	border-radius:4px;
	text-align:left;
}

.con-join form input[type=email]
{
	border:0px;
	padding:6px 10px;
	width:calc(100% - 100px);
}

.con-join form input[type=submit]
{
	position:absolute;
	top:0;
	right:-1px;
	bottom:0px;
	border:0px;
	font-size:18px;
	padding:0px 20px;
	background-color:#e03a3c;
	color:#fff;
	transition:0.3s;
	border-radius:0px 4px 4px 0px;
	box-shadow:0 4px 14px rgb(0 0 0 /10%);
}


	
.copyright
	{
		background-color:black;
		height:auto;
	}
	
	
	
.copy-right
{
		
	color:#fff;
	font-family: "Open Sans", sans-serif;
	font-size:15px;
	padding-bottom:8px;
	padding-top:30px;
	}
	
.c-r 
{
   color:#fff;
   font-family: "Open Sans", sans-serif;
   font-size:15px;
}   

.c-r a:hover
{
	color:#e76668;
	
}

.c-r a
{
	color:#e03a3c;
	text-decoration:none;
	  font-family: "Open Sans", sans-serif;
}


.logo-social a
{
	text-decoration:none;
	color:#fff;
	background-color:#2b2b2b;
	border-radius:5px;
	padding:10px 10px 10px 10px;
}

.logo-social a:hover
{
	background-color:red;
}
	

.logo-social 
{
	margin :30px 120px;
	}
       	
	
	
	.logo-detail
	{
		
	font-family: 'Poppins', sans-serif;
	
	}
	
	.logo-detail a {
		color:black;
	text-decoration:none;
	}
	
	.logo-detail a span {
		color:#e03a3c;
	}
	
	.menu-bar .nav-bar{
		text-align:right;
	}
	
	
.menu-bar .navbar > li
	{
		display:inline-block;
		
	}
	
	.navbar li  a {
		display:block;
		text-decoration:none;
		color:#000;
		padding-left:10px;
		padding-right:10px;
			font-family: 'Poppins', sans-serif;
			transition:all 0.3s ease;
	}
	
.navbar li a:hover
{
		color:#e03a3c;
}		

.navbtns
{
	border-radius:5px;
	background-color:#e03a3c;
	padding-top:8px;
	padding-bottom:8px;
	color:#fff;
	font-family: 'Poppins', sans-serif;
	padding-left:10px;
		padding-right:10px;
		text-decoration:none;
	
}

.dropdown
{
position:relative;
}
.navbar li.dropdown > a{
	position:relative;
	padding-right:25px;
}
.navbar li.dropdown > a i{
	position:absolute;
	top:5px;
	right:0px;
}

.nav-dropdown
{

position:absolute;
top:100%;
left:0px;
min-width:180px;
background-color:#fff;
box-shadow:1px 1px 1px #ccc;
border-radius:8px;
text-align:left;
opacity:0;
visibility:hidden;
transition:all 0.5s ease;
}	

.dropdown:hover  .nav-dropdown{
	transform:translateY(0);
	opacity:1;
	visibility:visible;
}



.nav-dropdown li
{
	display:block;
}

.nav-dropdown li a
{
	color:#000;
	display:block;
	text-decoration:none;
	padding-top:8px;
	padding-bottom:8px;
	padding-left:15px;
	padding-right:15px;
}
.navbar li.dropdown2 > a{
	position:relative;
	padding-right:25px;
}
.navbar li.dropdown2 > a i{
	position:absolute;
	top:12px;
	right:0px;
}
.dropdown2{
	position:relative;
}

.nav-drop {
	position:absolute;
	top:0%;
	left:100%;
	min-width:180px;
	background-color:#fff;
	box-shadow:1px 1px 6px #ccc;
	border-radius:8px;
	text-align:left;
	transform:translateX(-15px);
	opacity:0;
	visibility:hidden;
	transition:all 0.5s ease;
}

.dropdown2:hover .nav-drop{
	transform:translateX(0);
	opacity:1;
	visibility:visible;
}

